<!-- A wrapper to body -->
<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" 
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
         crossorigin="anonymous"/>
        <link rel="stylesheet" href="/css/layout.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">
        <%- style %>
    </head>
    <body>
        <%- include('_header');%>
        <!-- To Define variable parts -->
        <main id="layout-main">
            <%- body %>
        </main>
        <%- include('_footer');%>

        <%- script %>
    </body>

</html>